body {
    display: felx;
    justify-content: center;
    align-items: center;
    background-clip: padding-box;
}

hr {
    border-style: none;
    border-top-style: dotted;
    background-color: grey;
    border-width: 5px;
    width: 5%;
}

h1 {
    color: gray;
    text-align: center;
}

h3 {
    color: #66bfbf;
}